body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('tło.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 187.5px;
    margin-bottom: 12px;
    animation: logoAnimation 3s infinite alternate;
}

@keyframes logoAnimation {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

.description {
    font-size: 10px;
    margin-top: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 12px;
}

.info-box, .payment-box, .discord-box {
    width: 100px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 10px;
    font-weight: 700;
}

.discord-icon {
    width: 16px; 
    height: auto;
}

.info-box:hover, .payment-box:hover, .discord-box:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    color: white;
}

.scroll-prompt {
    display: none;
    margin-top: 20px;
    font-size: 8px;
    color: white;
    opacity: 0.8;
    text-align: center;
}

.info-section {
    display: none;
    overflow-y: auto;
    height: 80vh;
    padding: 20px;
}

.info-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-subheader {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.gray-text {
    font-size: 12px;
    color: #ccc;
}

.payment-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.payment-icon {
    width: 40px;
    height: auto;
    margin: 0 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
}

.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
